@import '../../../../assets/scss/variable.scss';

.mdc-card__media:first-child {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;

}


.is-mobile .resume-toolbar {
  position: fixed;
  z-index: 2;
}

h1.resume-app-name {
  margin-left: 8px;
}

.resume-sidenav-container {
  flex: 1;
}

.is-mobile .resume-sidenav-container {
  flex: 1 0 auto;
}

.nav-btn {
  background-color: var(--themecolordark);
  color: $white;
  box-shadow: 1px 1px 3px #222;
  margin: 5px 20px 5px 20px;
}

.nav-btn:hover {
  background-color: var(--sidebar);
  box-shadow: none;
  color: $white;
}


.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--themecolordark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bodycolor);
  font-size: 60px;
  font-weight: bold;
}