<section id="skills">
  <h1>Technical Skills</h1>
  <div class="margin-top">
    <div *ngFor="let skill of skills; let isLast=last">
      <h3>{{skill.type}}</h3>

      <ng-container *ngIf="!email">
        <button type="button" class="btn skill-set" *ngFor="let sk of skill.list"
          [routerLink]="['/skills', sk]">{{sk}}</button>
      </ng-container>


      <ng-container *ngIf="email">
        <button type="button" class="btn skill-set" *ngFor="let sk of skill.list"
          [routerLink]="['/p',email,'skills', sk]">{{sk}}</button>
      </ng-container>

      <hr *ngIf="!isLast">
    </div>
  </div>
</section>