@import '../../../../assets/scss/variable.scss';

.modal-content {
  background-color: var(--bodycolor) !important;
  opacity: 0.99;
  top: 100px;
  /* opacity: 0.8; */
  padding: 20px;
}

.modal-title {
  font-weight: bold;
}

.svg-inline--fa {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: transform .2s;
}


.commenting {
  margin-left: 30vh;
  margin-top: 15vh;
  position: fixed;
  display: none;
  display: inline-flex;
  font-size: xxx-large !important;
  color: var(--bodycolor);
  filter: drop-shadow(2px 2px 3px #222);
  z-index: 1000;


}

.commenting:hover {
  transform: scale(1.15);
  transition: transform .2s;
  color: var(--themecoloralt) !important;
}

.closing {
  color: var(--themecoloralt) !important;
  font-size: 40px !important;
}

.closing:hover {
  color: #461609 !important;
}

.open {
  color: var(--themecoloralt) !important;
  font-size: 40px !important;
  padding: 4px;
}

.open:hover {
  color: #385545 !important;
}

.modal-header-right {
  position: absolute;
  right: 30px;
}


.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Ensure it's on top of everything */
  /* Optional: semi-transparent background */
}

.modal-dialog {
  width: 60vw;
  z-index: 1050;
  left: 20vw;
  max-width: 100%;
  /* Override Bootstrap's max-width */
  margin: 0;
  /* Override Bootstrap's margin */
}

.modal-center .modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-center .modal-body {
  flex: 1;
  overflow-y: auto;
  /* Add scroll if the content overflows */
}

.modal-footer {
  display: flex;
  justify-content: center;
  /* Horizontally center the content */
  align-items: center;
  /* Vertically center the content */
  /* Take up full height of the parent */
}


.btn-primary {
  background-color: var(--bodytext) !important;
  color: var(--bodycolor) !important;
  border: #1c1d1d;
}


.contact-form textarea.form-control {
  width: 100%;
  box-sizing: border-box;
  /* This ensures padding and border are included in the width */
  resize: vertical;
  /* Allows the user to resize the textarea vertically */
}

.btn-close {
  font-size: xx-large;
  border: 0;
  background: transparent;
}

@media screen and (max-width: 30em) {
  .skill-set {
    font-size: medium;
  }

  .btn-message i {
    display: inline-block;
    color: var(--bodytext) !important;
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15%;
    right: 4%;
    opacity: 0.8;
    z-index: 10;
  }

  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 140%;
    margin-left: -20%;
  }

  .commenting {

    margin-top: 10vh;
    right: 5%;
    font-size: xx-large;
    color: var(--themecoloralt);
  }

}

@media screen and (min-width: 30em) and (max-width: 48em) {

  .btn-message i {
    display: inline-block;
    color: var(--bodytext) !important;
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15%;
    right: 4%;
    opacity: 0.8;
    z-index: 10;
  }
}

@media screen and (min-width: 48em) and (max-width: 60em) {

  .btn-message i {
    display: inline-block;
    color: var(--bodytext) !important;
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15%;
    right: 3%;
    opacity: 0.8;
    z-index: 10;
  }
}


/* iPad-sized screens (approximately) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .commenting {
    margin-left: 15vh;
  }
}