@import '../../../assets/scss/variable.scss';

.section-title {
  margin: 20px 0 80px;
  padding: 15px;
  text-align: center;

}


.eye {
  width: 40px;
  height: 40px;
  font-size: xx-large;
  cursor: pointer;
  filter: drop-shadow($shadow-icon);
  transition: transform .2s;
  z-index: 1000;
  position: absolute;
  right: 10vh;
  top: 10vh;
}


.eye:hover {
  transform: scale(1.15);
  transition: transform .2s;
}


.card {
  margin-bottom: 20px;
  filter: drop-shadow($shadow-card);
  color: var(--themecoloralt) !important;
  background-color: lighten($bodycolor, 10%) !important;
}

.card-body {
  color: var(--themecolor) !important;
  background-color: rgba($bodycolor, 0.9);
}

.image-crop-container {
  width: 100%;
  /* or the width you desire */
  height: 200px;
  overflow: hidden;
  position: relative;
}

.image-crop-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* or adjust as needed to maintain aspect ratio */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  grid-auto-rows: max-content;
}