<section id="blog">

  <h1>Blog</h1>
  <a (click)="detailedView()" *ngIf="blogs">
    <i class="fa fa-eye eye" aria-hidden="true"></i>
  </a>

  <ng-container *ngIf="blogs">
    <ng-container *ngIf="isDetail">
      <div class="section-title" *ngFor="let page of blogs">
        <div class="col-12">
          <ng-container *ngIf="!email">
            <h3><a [routerLink]="['/blogs', page.title]">{{page.title}}</a></h3>
          </ng-container>
          <ng-container *ngIf="email">
            <h3><a [routerLink]="['/p',email,'blogs', page.title]">{{page.title}}</a></h3>
          </ng-container>

          <div class="divider"></div>
          <div class="image-crop-container">
            <img
              [src]="(page.url ? page.url.startsWith('https') : false) ? page.url : '../../../assets/images/placeholder-card.jpg'"
              class="card-img-top" [alt]="page.title">

          </div>
          <br /><br />
          <blockquote class="blockquote">

            <p>{{page.description}}</p>
          </blockquote>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md" *ngFor="let post of page.posts">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <img
                  [src]="(post.url ? post.url.startsWith('https') : false) ? post.url : '../../../assets/images/placeholder-card-post.jpg'"
                  class="card-img-top" [alt]="post.title">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isDetail">

      <div class="section-title">
        <div class="grid-container">
          <div *ngFor="let page of blogs">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">
                  <ng-container *ngIf="!email">
                    <a [routerLink]="['/blogs', page.title]">{{page.title}}</a>
                  </ng-container>
                  <ng-container *ngIf="email">
                    <a [routerLink]="['/p',email,'blogs', page.title]">{{page.title}}</a>
                  </ng-container>
                </h5>
                <img
                  [src]="(page.url ? page.url.startsWith('https') : false) ? page.url : '../../../assets/images/placeholder-card.jpg'"
                  class="card-img-top" [alt]="page.title">
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-container>

    <div class="ask">
      <app-ask></app-ask>
    </div>
  </ng-container>
</section>