<ng-container *ngIf="agents">
  <mat-drawer-container class="flowchart-container" autosize>
    <mat-toolbar class="toolbar">
      <span class="sidenav-toggle">
        <mat-icon class="toggle" matTooltip="Toggle" (click)="drawer.toggle()"
          >more_vert</mat-icon
        >
      </span>
      <span class="fill-toolbar"></span>
      <span>
        <mat-icon matTooltip="Console" class="admin" [routerLink]="['/admin']"
          >dashboard</mat-icon
        >
        <mat-icon
          class="theme-switch"
          matTooltip="Switch Theme"
          (click)="toggleTheme()"
          >brightness_6</mat-icon
        >
        <mat-icon
          matTooltip="Start Connection"
          class="link-off-toggle"
          (click)="connectToWebSocket()"
          *ngIf="!isWSConnected"
          >link_off</mat-icon
        >
        <mat-icon
          matTooltip="Start Connection"
          class="link-toggle"
          (click)="closeWebSocket()"
          *ngIf="isWSConnected"
          >link</mat-icon
        >
      </span>
      <span class="fill-toolbar"></span>
      <span class="groupsidenav-toggle">
        <mat-icon
          class="toggle"
          matTooltip="Toggle"
          (click)="groupdrawer.toggle()"
          >more_vert</mat-icon
        >
      </span>
    </mat-toolbar>

    <mat-drawer #drawer class="left-sidenav" mode="side" opened="true">
      <app-playground-sidenav
        #sidenav
        [isWSConnected]="isWSConnected"
        [profile]="data"
      ></app-playground-sidenav>
    </mat-drawer>
    <div class="flowchart-sidenav-content" *ngIf="data.resume">
      <app-playground-flowchart
        #flowchart
        [messages]="groupsidenav.messages"
        [agents]="sidenav.agents"
        [profile]="data"
      ></app-playground-flowchart>
    </div>

    <mat-drawer
      #groupdrawer
      class="right-sidenav"
      mode="side"
      position="end"
      opened="true"
    >
      <app-playground-group-sidenav
        #groupsidenav
        [isWSConnected]="isWSConnected"
        [agents]="sidenav.agents"
      ></app-playground-group-sidenav>
      <div
        #resizeHandle
        class="resize-handle"
        (mousedown)="startResizing(resizeHandle, $event)"
      ></div>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
