pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin: -30px 0px;
}


hr {
  border: 1px solid #ffffff45 !important;
}

.content {
  padding: 10px;
  display: flex;
}

.box {
  padding: 0 15px;
}
/* Top toolbar styling */
.toolbar {
  width: 100%;
  min-height: 15vh;
  color: #ECEFF1; /* Keep the text color */
  border-bottom: 1px solid #757575; /* Lighter grey for bottom border */
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Keep the shadow */
  background-color: #333333; /* Darker grey for background */
}

/* General styling for input and text areas */
.full-width {
  width: 100%;
  font-size: small;
}

.add-agent {
  position: relative;
  font-size: xx-large;
  width: unset;
  height: unset;
  color: #ECEFF1; /* Keep the add agent color */
  filter: drop-shadow(2px -1px 0px #222222); /* Darker shadow for contrast */
}

:host ::ng-deep .material-symbols-outlined:hover {
  background-color: #33691E !important; /* Dark green for hover */
}

:host ::ng-deep .mat-card:not([class*=mat-elevation-z]) {
  padding: 0px 5px 0px 5px;
  box-shadow: unset;
  margin: 0px !important;
  margin-bottom: 0px !important;
  background-color: #1A1A1A; /* Darker background for cards */
}

:host ::ng-deep .mat-card>:first-child {
  margin: 0px !important;
}

:host ::ng-deep .ng-star-inserted {
  margin-bottom: 0 !important;
}

.mat-raised-button {
  background-color: #4E4E4E !important; /* Dark grey for buttons */
}

.mat-icon:hover {
  font-weight: bold !important;
  color: #B9B9B9 !important; /* Lighter grey for icon hover */
  filter: unset;
}

/* Responsiveness for smaller screens */
@media screen and (max-width: 30em) {

  .add-agent {
    left: unset;
  }
}
