.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow-y: auto;
    width: 60px;
    right: 0px;
    top: 30vh;
    position: fixed;
}

.sidenav-container {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    flex-direction: column;
}



.sidenav-content {
    flex-grow: 1;
}

.card {
    width: 50px;
    transition: transform .2s;
}

#references {
    min-height: 300px;
}

.references-bloc {
    position: relative;
    margin-top: 5%;
}

.references-img-card {
    width: 40px
}

.ref-img {
    width: 35px;
    position: relative;
    display: block;
    margin: auto !important;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: transform .2s;
    z-index: 999;

    /* top: 20%;
    transition: transform .2s;  Animation 
    filter: invert(15%) sepia(30%) saturate(596%) hue-rotate(350deg) brightness(92%) contrast(90%);
     fill: #747471; */
}

.ref-img:hover {
    transform: scale(1.15);
    transition: transform .2s;
}

.column {
    flex: 10%;
    padding: 10px;
}

@media screen and (max-width: 30em) {
    #references {
        min-height: 200px;
    }

    .references-bloc {
        position: relative;
        margin-top: 20%;
    }

    .sidenav {
        right: 2%;
    }
}

@media screen and (min-width: 30em) and (max-width: 48em) {
    #references {
        min-height: 250px;
        width: 80%;
    }

    .references-bloc {
        position: relative;
        margin-top: 20%;
        width: 80%;
    }
}

@media screen and (min-width: 48em) and (max-width: 60em) {
    #references {
        min-height: 300px;
    }

    .references-bloc {
        position: relative;
        margin-top: 20%;
        margin-left: -10%;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 30em) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .sidenav {
        top: 10%;
        height: 70%;
    }
}