<div class="wrapper clearfix" id="content" *ngIf="theme">
    <div class="header-quote">
        <div class="quote" *ngIf="isBotQuotes">
            <blockquote class="blockquote">
                <p><em class="marquee">{{quote}}</em></p>
            </blockquote>
        </div>
    </div>
    <app-contact-box></app-contact-box>
    <app-sidenav></app-sidenav>
    <div class="right">
        <div class="inner" id="inner-content">
            <app-sidebar></app-sidebar>
            <div class="col-12 main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>