@import 'assets/scss/custom-theme.scss';

body {
    background-color: $primary-color;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: $primary-color;
    margin: 0 auto;
    color: white;
    padding: 0 20px 0 20px;
    min-height: 85vh;
}


mat-icon {
    cursor: pointer;
}

.mat-title {
    margin: 10px !important;
}

.mat-error {
    color: transparent;
}

.add-button {
    background-color: transparent !important;
    box-shadow: none !important;
}

.color {
    color: $accent-color !important;
}

.mat-button {
    min-width: 5px !important;
    line-height: 36px;
    padding: 0 2px !important;
}

.mat-button-wrapper .mat-icon {
    font-size: large;
    cursor: pointer;
    z-index: 1000;
    color: $accent-color !important;
    font-weight: bold;
}

.right {
    position: absolute;
    right: 0% !important;
}

.material-symbols-outlined {
    width: 50px;
    height: 50px;
    position: fixed;
    color: $accent-color !important;
    display: inline-flex;
    font-size: xxx-large;
    cursor: pointer;
    z-index: 1000;
}

.profile {
    color: #fff;
    right: 70px !important;
}

.upload {
    color: #3b9029 !important;
    right: 150px;
}

.download {
    color: #f96c6c !important;
    right: 200px;
}

.create-post {
    color: #f96c6c !important;
    padding: 10px;
    cursor: pointer;
}

.separator {
    color: $primary-color;
}

.logout {
    color: white !important;
}

.mat-tab-label-active {
    font-size: large !important;
    color: white !important;
    border-bottom: 1px solid white !important;
    z-index: 1000;
}

.container {
    min-height: 65vh !important;
    max-height: 85vh !important;
}

.mat-tooltip {
    font-size: 12px;
}

@media screen and (max-width: 30em) {
    .mat-card {
        width: 70% !important;
        left: 10vh !important;
    }

    .background {
        padding: 0 10px 0 10px;
    }

    .mat-button-wrapper .mat-icon {
        font-size: medium;
    }

    .material-symbols-outlined {
        width: 40px;
        height: 40px;
        font-size: x-large;
    }

    .mat-drawer-content {
        padding: 1px !important;
    }
}