/* Import the custom theme to access the variables */
@import 'assets/scss/custom-theme.scss';

body {
    background-color: $primary-color;
    color: white;
}

.background {
    background-color: $primary-color;
    margin: 0 auto;
    color: white;
    padding: 0 20px 0 20px;
    min-height: 85vh;
}

.mat-drawer-content {
    background-color: $primary-color !important;
}

.mat-title {
    margin: 10px !important;
}

.mat-error {
    color: transparent;
}


.add-button {
    background-color: transparent !important;
    box-shadow: none !important;
}

.color {
    color: $accent-color !important;
}

.mat-button-wrapper .mat-icon {
    display: none;
    display: inline-flex;
    font-size: xx-large;
    cursor: pointer;
    z-index: 1000;
    color: $accent-color !important;
    font-weight: bold;
    font-variation-settings: 'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.right {
    position: absolute;
    right: 0% !important;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    margin-left: 20%;
}

.material-symbols-outlined {
    width: 50px;
    height: 50px;
    right: 0%;
    position: fixed;
    color: $accent-color !important;
    display: none;
    display: inline-flex;
    font-size: xxx-large;
    cursor: pointer;
    z-index: 1000;
    font-variation-settings: 'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.upload {
    color: #3b9029 !important;
    right: 100px;

}

.download {
    color: #f96c6c !important;
    right: 150px;


}

.create-post {
    color: #f96c6c !important;
    padding: 10px;
    cursor: pointer;
}

.separator {
    color: $primary-color;
}

.logout {
    color: white !important;
}

.mat-tab-label-active {
    font-size: large !important;
    color: white !important;
    border-bottom: 1px solid white !important;
    z-index: 1000;
}


.container {
    min-height: 65vh !important;
    max-height: 85vh !important
}

.mat-tooltip {
    font-size: 12px;
    /* Adjust this value as needed */
}

@media screen and (max-width: 30em) {
    .mat-card {
        width: 50vh;
        margin-left: 10vh;
    }

}