<section id="interests">
  <h1>Personal Interests</h1>
  <div class="margin-top">

    <ng-container *ngIf="!email">
      <button type="button" class="btn skill-set" *ngFor="let interest of interests"
        [routerLink]="['/skills', interest]">{{interest}}</button>
    </ng-container>

    <ng-container *ngIf="email">
      <button type="button" class="btn skill-set" *ngFor="let interest of interests"
        [routerLink]="['/p',email,'skills', interest]">{{interest}}</button>
    </ng-container>

  </div>

</section>