.toolbar {
  background-color: #313131;
  color: #ECEFF1;
  border-bottom: 1px solid #565656;
  height: 80px;
}

/* Icon styling within the toolbar */
.mat-icon {
  margin-right: 10px;
  /* Spacing between the icon and the text */
  font-size: 40px;
  /* Slightly bigger icon for prominence */
}

.fill-toolbar {
  flex: 1 1 auto;
}