@import "../../assets/scss/custom-theme.scss";

/* Base styles for common elements */
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.background {
  margin-top: 6vh;
  margin-left: 0vh;
  width: 92%;
}

:host ::ng-deep .mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  margin-left: 20%;
}

.theme-switch,
.mat-icon {
  margin-right: 10px;
  padding: 2px;
  font-size: 40px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.theme-switch {
  color: #b7a51d;
}

.theme-switch:hover,
.mat-icon:hover {
  font-weight: bold;
  color: #979797;
  filter: unset;
}

.inactive {
  color: #979797;
  cursor: unset;
}

.inactive:hover {
  font-weight: unset;
}

.fill-toolbar {
  flex: 1 1 auto;
}

.group {
  color: #a72f2f;
}


.upload {
  color: #3b9029;
  right: 80px;
}

.download {
  color: #f96c6c;
  right: 120px;
}

.data-textarea {
  width: 96%;
  height: 75vh;
  background-color:#212121;
  padding:2vh;
  border-bottom:unset
}

@media screen and (max-width: 30em) {
  .background {
    margin-top: 6vh;
  }

  :host ::ng-deep .select-profile {
    width: 10vh !important;
  }

  .mat-icon {
    font-size: x-large;
    font-weight: normal;
    margin-right: 0px;
  }

  .material-symbols-outlined {
    width: 40px;
    height: 40px;
    font-size: x-large;
  }

  .upload {
    right: 80px;
  }

  .download {
    right: 120px;
  }
}

:host ::ng-deep .mat-tab-group {
  padding: 2vh !important;
}

/* Light Theme Styles */
.light-theme {
  :host ::ng-deep .background {
    background-color: #c4c2c2 !important; /* Fine light grey */
    color: #212121 !important; /* Soft contrast */
    padding: 2vh;
  }

  :host ::ng-deep .mat-toolbar {
    background-color: #615f5f !important;
    padding: 15px;
  }

  :host ::ng-deep .mat-card {
    background-color: #89a2a147 !important;
    color: #212121 !important;
  }

  :host ::ng-deep .mat-drawer-content {
    background-color: #c4c2c2 !important;
    color: #212121 !important;
  }
  :host ::ng-deep .mat-form-field-infix {
    background-color: #89a2a147 !important;
    color: #212121 !important;
  }
  :host ::ng-deep .mat-table {
    background-color: #89a2a147 !important;
    color: #212121 !important;
  }
  :host ::ng-deep .mat-drawer {
    background-color: #89a2a147 !important;
    color: #212121 !important;
  }
  :host ::ng-deep .mat-tab-label {
    background-color: #89a2a147 !important;
    color: #212121 !important;
  }
  :host ::ng-deep .mat-list-item {
    background-color: #89a2a147 !important;
    color: #eceff1 !important;
  }

  :host ::ng-deep .mat-primary  {
    color: #171717 !important;
  }
  
  :host ::ng-deep .mat-header-cell  {
    color: #171717 !important;
  }
  :host ::ng-deep .mat-form-field-label {
    color: #171717 !important;
  }

  :host ::ng-deep .ng-star-inserted .mat-icon {
    filter: drop-shadow(1px -1px 0px #757572);
    color: #212121 !important;
}

  :host ::ng-deep .material-symbols-outlined {
    filter: drop-shadow(1px -1px 0px #757572);
}
}
