@import '../../assets/scss/custom-theme.scss';


.toolbar {
  background-color: #0d0d0d;
  color: #ECEFF1;
  border-bottom: 1px solid #565656;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  z-index: 1000;
}

.background {
  margin-top: 7vh;
  margin-left: 0vh;
  width: 92%;}

:host ::ng-deep .mat-drawer-content {
  background-color: #303030 !important;
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  margin-left: 20%;
}


.mat-icon {
  margin-right: 10px;
  padding: 2px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  filter: drop-shadow(2px -1px 0px #383838);
}

.fill-toolbar {
  flex: 1 1 auto;
}

.group {
  color: #a72f2f;
}

@media screen and (max-width: 30em) {

  .background {
    margin-top: 6vh;
}

:host ::ng-deep .select-profile {
  width: 10vh !important;
}


  .mat-icon {
    font-size: x-large;
    font-weight: normal;
    margin-right: 0px;

  }

  .material-symbols-outlined {
    width: 40px;
    height: 40px;
  }

  .upload {
    color: #3b9029 !important;
    right: 80px;

  }

  .download {
    color: #f96c6c !important;
    right: 120px;


  }

}

// Form Controls

:host ::ng-deep .mat-drawer {
  background-color: #212121 !important;
  color: #c0c0c0 !important;

}

:host ::ng-deep .mat-card{
  background-color: #151515 !important;
  color: #c0c0c0 !important;
}

:host ::ng-deep .mat-drawer-content {
  background-color: #151515 !important;
  color: #c0c0c0 !important;

}

:host ::ng-deep .mat-table{
  background-color: #212121 !important;
  color: #c0c0c0 !important;

}

:host ::ng-deep .mat-list-item{
  color: #c0c0c0 !important;
  border-bottom: 1px solid #424242 !important;

}

:host ::ng-deep .mat-input-element{
  color: #c0c0c0 !important;
}


