.toolbar {
  background-color: #313131;
  color: #ECEFF1;
  border-bottom: 1px solid #565656;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  z-index: 1000;
}


.mat-icon {
  margin-right: 10px;
  padding: 2px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.fill-toolbar {
  flex: 1 1 auto;
}


@media screen and (max-width: 30em) {

  .mat-icon {
    font-size: x-large;
    font-weight: normal;
    margin-right: 0px;

  }

  .material-symbols-outlined {
    width: 40px;
    height: 40px;
  }

  .upload {
    color: #3b9029 !important;
    right: 80px;

  }

  .download {
    color: #f96c6c !important;
    right: 120px;


  }

}