pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin: -30px 0px;
}

hr {
  border: 0px solid #3b3b3b !important;
}

.content {
  padding: 10px;
  display: flex;
}

.agents-toggle {
  z-index: 1000;
  color: #ECEFF1;
  font-size: xx-large;
  cursor: pointer;
  transition: 0.5s;
  left: 6px;
  position: fixed
}

/* Top toolbar styling */
.toolbar {
  width: 100%;
  min-height: 15vh;
  color: #ECEFF1;
  border-bottom: 1px solid #565656;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #424242;
}

.card {
  color: white;
  padding: 0 1em;
  margin: 10px;
  overflow-y: auto;
  max-height: 72%;
  height: 100%;
  background-color: #2c2c2cdb;
  border: 1px solid #4d4d4de0 !important;
  border-radius: unset !important;
}

.selectbar {
  width: 100%;
  margin-top: 4vh;
}

.select-form {
  width: 86%;
  padding: 0 1em;
  font-size: small;
}

.bottombar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bottom-form {
  width: 86%;
  padding: 0 1em !important;
  font-size: small;
}

/* Loading spinner styling */
.spin {
  display: flex;
  justify-content: center;
  color: #333131;
}

/* General styling for input and text areas */
.full-width {
  width: 100%;
  margin-top: 1vh;
  background-color: #424242 !important;
  font-size: small;
}

/* Styling based on roles */
.default, .bot, .manager, .proxy, .user{
  padding: 8px;
  border: 1px solid #606060e0 !important;
}

.user { 
  background-color: #b7858d;
  width: 92%;
  color: #464646;
}
.manager { 
  background-color: #b7a51d;
  width: 92%;
  color: #464646;
}
.default { 
  background-color: #444e57; 
  width: 92%;
  margin-left: 4%;
}
.bot { 
  background-color: #5470c6;
  width: 92%;
  margin-left: 4%;
 }
 .proxy { 
  background-color: #99af9d;
  width: 92%;
  margin-left: 4%;
  color: #464646;
 }

.mat-raised-button {
  background-color: #6c6c6c !important;
}

.chat-icon {
  position: absolute;
  padding: 4px;
  width: unset;
  height: unset;
  font-size: x-large;
  margin-top: 4.5%;
}
.person {
  right: 0%;
  color: #b7858d !important;
}
.account_circle  {
  right: 0%;
  color: #b7a51d !important;
}
.supervised_user_circle {
  left: 1px;
  color: #99af9d !important;

}
.robot_2 {
  left: 1px;
  color: #5470c6 !important;

}

.info {
  left: 1px;
}

.selected-agent {
  color: #228057;
}

.start-agents-btn {
  position: absolute;
  right: 3vh;
  font-size: 4vh;
  color: #979797 !important;
}
.start-agents-btn:hover {
  color: #228057 !important;
  font-weight: bold !important;
}

.ask-agents-btn {
  position: absolute;
  top: 15%;
  right: 3vh;
  font-size: 4vh;
  color: #979797 !important;
}
.ask-agents-btn:hover {
  color: #228057 !important;
  font-weight: bold !important;
}

.mat-card>:first-child {
  margin-top: 10px;
}



/* Responsiveness for smaller screens */
@media screen and (max-width: 30em) {
  .select-form {
    width: 75%;
  }

  .selectbar {
    width: 100%;
    margin-top: 1vh;
  }

  .card {
    width: 76% !important;
    max-height: 74%;
    position: inherit;
  }

  .bottombar {
    bottom: 0px;
    width: 100%;
  }

   .bottom-form {
    width: 75%;
    padding: 4px;

  }
}

