    <!-- Side navigation drawer -->
      <div style="padding: 15px;">
        <p>Team Chat</p>
      <mat-form-field style="width: 100%;">
        <mat-label>Select Agents</mat-label>
        <mat-select [formControl]="groupAgents" multiple>
          <mat-option *ngFor="let agent of agents" [value]="agent.agent_name" [class.selected-agent]="isSelected(agent.agent_name)">
            {{agent.agent_name}}
          </mat-option>
                </mat-select>
      </mat-form-field>
            <!-- Button to run the agent -->
            <button mat-raised-button color="secondary" style="margin: 5px;"
            (click)="runAgents(agents)"
            *ngIf="isWSConnected && agents.length>0">
          Start Agents</button>

      </div>

      <hr>

      <!-- Message display area -->
      <ng-container>
        <mat-card #scrollableContainer class="card" [autoScroll]="messages.length">
          <mat-list>
            <pre *ngFor="let msg of messages; let i = index">
              <div [ngClass]="getUserClass(msg.name)"><strong>{{msg.name}}: </strong> {{ msg.content }}</div>
            </pre>
          </mat-list>


       <!-- Spinner to indicate loading -->
       <div class="spin">
        <i class="fas fa-spinner fa-spin" *ngIf="loading" style="font-size: 40px;"></i>
      </div>
      </mat-card>
      <hr>

      </ng-container>
             <!-- Bottom bar for user message input -->
             <div class="bottombar">
              <mat-form-field appearance="outline" class="bottom-form">
                <mat-label>Enter message</mat-label>
                <textarea matInput #messageInput ></textarea>
              </mat-form-field>
              <!-- Button to initiate chat -->
              <button mat-raised-button color="btn" style="margin: 5px;"
                (click)="initiateGroupChat(messageInput.value, groupAgents.value)">Ask</button>
            </div>  
