<section id="ask">
    <h1>Ask me:</h1>

    <div class="modal-body">
        <form class="contact-form" [formGroup]="messageForm" (submit)="message()">
            <textarea name="recipentMessage" id="recipentMessage" class="form-control"
                formControlName="recipentMessage"></textarea>
            <br />
            <div class="modal-footer">
                <button type="button" class="skill-set" type="submit" value="Send" *ngIf="available">
                    Send message
                </button>
                <i class="fas fa-spinner fa-spin" *ngIf="!available"></i>

            </div>

        </form>
        <br />
        <div class="frame-box">
            <div class="card-body" *ngIf="available && !recipentMessage">
                <h5 class="card-title">This bot will answer any question you have regarding the resume
                    available on the
                    site
                    <a href="https://www.thaersaidi.com">www.thaersaidi.com</a> as if it was me, Thaer Saidi
                </h5>
            </div>
            <div *ngFor="let item of chatConversation">
                <div innerHTML="{{item.message.content}}" class="card-text padding" [ngClass]="item.cssClass">
                </div>

            </div>
            <div>
            </div>
        </div>
    </div>
</section>