{
    "openapi": "3.0.1",
    "info": {
        "title": "OneApp Aggregator Service",
        "description": "OneApp Aggregator Service",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.eluxmkt.com/external/cdc/one-app/oneapp-aggregator/v1"
        }
    ],
    "paths": {
        "/GetJwtPublicKey": {
            "post": {
                "tags": [
                    "GetJwtPublicKey"
                ],
                "summary": "Gets the JWT public key.",
                "description": "Gets the JWT public key.",
                "operationId": "GetJwtPublicKey",
                "requestBody": {
                    "description": "The get JWT public key request model.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetJwtPublicKeyRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetJwtPublicKeyRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetJwtPublicKeyRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetJWTPublicKeyResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetJWTPublicKeyResponse"
                                },
                                "example": {
                                    "alg": "string",
                                    "e": "string",
                                    "kid": "string",
                                    "kty": "string",
                                    "n": "string",
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string",
                                                "additionalProperties": {}
                                            }
                                        ],
                                        "additionalProperties": {}
                                    },
                                    "use": "string",
                                    "additionalProperties": {}
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetJWTPublicKeyResponse"
                                },
                                "example": {
                                    "alg": "string",
                                    "e": "string",
                                    "kid": "string",
                                    "kty": "string",
                                    "n": "string",
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string",
                                                "additionalProperties": {}
                                            }
                                        ],
                                        "additionalProperties": {}
                                    },
                                    "use": "string",
                                    "additionalProperties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Logins the specified user email.",
                "description": "Logins the specified user email.",
                "operationId": "Login",
                "requestBody": {
                    "description": "The login request model.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string"
                                },
                                "data": {
                                    "password": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string"
                                },
                                "data": {
                                    "password": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string"
                                },
                                "data": {
                                    "password": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "uid": "string",
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "sessionInfo": {
                                        "sessionSecret": "string",
                                        "sessionToken": "string"
                                    },
                                    "jwtToken": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "uid": "string",
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "sessionInfo": {
                                        "sessionSecret": "string",
                                        "sessionToken": "string"
                                    },
                                    "jwtToken": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Logout": {
            "post": {
                "tags": [
                    "Logout"
                ],
                "summary": "Logouts the specified user UID.",
                "description": "Logouts the specified user UID.",
                "operationId": "Logout",
                "requestBody": {
                    "description": "The logout request model.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LogoutRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "uid": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LogoutRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "uid": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/LogoutRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "uid": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogoutResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogoutResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "uid": "string",
                                    "logoutActiveSession": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogoutResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "uid": "string",
                                    "logoutActiveSession": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Register": {
            "post": {
                "tags": [
                    "Register"
                ],
                "summary": "Registers the specified register request model with account information",
                "description": "Registers the specified register request model with account information",
                "operationId": "Register",
                "requestBody": {
                    "description": "The register request model containing account information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "data": {
                                    "country": "string",
                                    "email": "string",
                                    "firstName": "string",
                                    "language": "string",
                                    "lastName": "string",
                                    "locale": "string",
                                    "password": "string",
                                    "source": "string",
                                    "regSource": "string",
                                    "hasLiteAccount": true
                                },
                                "accountVerification": {
                                    "autoVerified": true
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "data": {
                                    "country": "string",
                                    "email": "string",
                                    "firstName": "string",
                                    "language": "string",
                                    "lastName": "string",
                                    "locale": "string",
                                    "password": "string",
                                    "source": "string",
                                    "regSource": "string",
                                    "hasLiteAccount": true
                                },
                                "accountVerification": {
                                    "autoVerified": true
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "data": {
                                    "country": "string",
                                    "email": "string",
                                    "firstName": "string",
                                    "language": "string",
                                    "lastName": "string",
                                    "locale": "string",
                                    "password": "string",
                                    "source": "string",
                                    "regSource": "string",
                                    "hasLiteAccount": true
                                },
                                "accountVerification": {
                                    "autoVerified": true
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegisterResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegisterResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "accountVerification": {
                                        "vToken": "string"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegisterResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "accountVerification": {
                                        "vToken": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SetAccountInfo": {
            "post": {
                "tags": [
                    "SetAccountInfo"
                ],
                "summary": "Sets the account information of specified user UID",
                "description": "Sets the account information of specified user UID",
                "operationId": "SetAccountInfo",
                "requestBody": {
                    "description": "The set account information request model.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetAccountInfoRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "data": {
                                    "firstName": "string",
                                    "lastName": "string",
                                    "language": "string",
                                    "country": "string",
                                    "locale": "string"
                                },
                                "key": {
                                    "parameter": {
                                        "contextBrand": "string",
                                        "contextCountry": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "uid": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetAccountInfoRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "data": {
                                    "firstName": "string",
                                    "lastName": "string",
                                    "language": "string",
                                    "country": "string",
                                    "locale": "string"
                                },
                                "key": {
                                    "parameter": {
                                        "contextBrand": "string",
                                        "contextCountry": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "uid": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetAccountInfoRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "data": {
                                    "firstName": "string",
                                    "lastName": "string",
                                    "language": "string",
                                    "country": "string",
                                    "locale": "string"
                                },
                                "key": {
                                    "parameter": {
                                        "contextBrand": "string",
                                        "contextCountry": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    },
                                    "uid": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAccountInfoResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAccountInfoResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAccountInfoResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "origin": {
                                        "dataCenter": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/GetAccountInfo": {
            "post": {
                "tags": [
                    "GetAccountInfo"
                ],
                "summary": "Gets the account information.",
                "description": "Gets the account information.",
                "operationId": "GetAccountInfo",
                "requestBody": {
                    "description": "The get account request model.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetAccountRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string",
                                    "uid": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetAccountRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string",
                                    "uid": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetAccountRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string",
                                    "uid": "string"
                                },
                                "returns": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAccountResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAccountResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "isRealVerified": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAccountResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "isRealVerified": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ResetPassword": {
            "post": {
                "tags": [
                    "ResetPassword"
                ],
                "summary": "Resets the password.",
                "description": "Resets the password.",
                "operationId": "ResetPassword",
                "requestBody": {
                    "description": "The reset password request model containing email",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "key": {
                                    "email": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResetPasswordResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResetPasswordResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResetPasswordResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/VerifyLogin": {
            "post": {
                "tags": [
                    "VerifyLogin"
                ],
                "summary": "Verifies the login.",
                "description": "Verifies the login.",
                "operationId": "VerifyLogin",
                "requestBody": {
                    "description": "The verify login request model.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyLoginRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "uid": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyLoginRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "uid": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyLoginRequestModel"
                            },
                            "example": {
                                "parameter": {
                                    "contextBrand": "string",
                                    "contextCountry": "string"
                                },
                                "origin": {
                                    "dataCenter": "string"
                                },
                                "uid": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyLoginResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyLoginResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "uid": "string",
                                    "lastLogin": "string",
                                    "lastLoginTimestamp": 0,
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "jwtToken": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyLoginResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    },
                                    "uid": "string",
                                    "lastLogin": "string",
                                    "lastLoginTimestamp": 0,
                                    "profile": {
                                        "country": "string",
                                        "email": "string",
                                        "firstName": "string",
                                        "language": "string",
                                        "lastName": "string",
                                        "uid": "string"
                                    },
                                    "jwtToken": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                },
                                "example": {
                                    "status": {
                                        "errorCode": 0,
                                        "errorDescription": "string",
                                        "statusCode": 0,
                                        "validationErrors": [
                                            {
                                                "errorCode": "string",
                                                "fieldName": "string",
                                                "message": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
[...]
