
.sidenav-content {
  background-color: #151515 !important;
  color: white !important;
  width: 94%; 
  margin-left: 3%;
  height: 84vh;
  margin-top: 3vh;
  border: 1px solid #4d4d4de0 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  max-width: 50vh !important;
}

.echarts-container {
  width: 96%;
  height: 80vh;
  padding: 2%;
}